html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    height: 100vh;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .page{
      display: grid;
      grid-template-columns: 1fr 1.8fr;
      
  }
  #brain-image{
    filter: drop-shadow(8px 8px 10px grey);
    justify-self: center;
    transition: all 0.2s
  }
  #brain-image:hover{
    transform: scale(1.05)
  }
  .content{
      display: grid;
      grid-template-rows: 0.5fr 3fr 0.5fr ;
      height: 90%;


  }
.brain-title{
  display: inline-flex;
  text-align: center;
  font-size: 4em;
  justify-self: center;
  text-shadow: 6px 4px 12px #0000004a;
}
.letter{
  transition: all 0.1s
}
.letter:hover{
  transform: scale(1.1)
}
.guide{
  background: #007aff45;
}




/* media queries */


@media only screen and (max-width: 600px) {
  .page{
    grid-template-columns: none;
    grid-template-rows: 1fr 3fr
  }
  #brain-image{
    filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.28));
    height: 9em;
  }
  .brain-title{
    font-size: 2em;

  }
  .swiper-pagination{
    display: none !important
  }
}