@import url('https://fonts.googleapis.com/css?family=Asap:700|Sarabun');

/* //CONSTRUCTION! */

h1{
    font-weight:100;
    font-family: 'Sarabun', sans-serif;
    font-size:27pt;
    color:#E43;
  }
  
  p{font-weight:300;}
  
  .warning-content {
      position:absolute;
      font-family: 'Sarabun', sans-serif;
    top:25%;
    width:100%;
    height:300px;
    text-align:center;
    margin:0;
    
    
  }


/* //CONSTRUCTION ENDS */

*{
    margin: 0;
    padding: 0
}
body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
    /* overflow: hidden; */;
    
}
.page{
    height: 100vh;
    width: 100%;
}

/* DOCK */
/* .dock{
    display: none;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    position: fixed;
    top: 20vh;
    height: 60vh;
    left: 1em;
    width: 6%;
    background: green;
    z-index: 9999;
} */

.swiper-pagination{
    transform: translateY(2vh);
}

.swiper-pagination-bullet{
    background: white;
}

.swiper-pagination-bullet-active{
    background: white;
    transform: translateY(-1vh);
    transition: 0.5s;
}


.landing{
    display: grid;
    background: url('../images/landing2.jpg');
    /* background-attachment: fixed; */
    background-size: cover;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr
}
#pccoe-logo-img {
    height: 4.2em; 
    position: relative;
    left: 0.5em;
    top: 0.5em;
    transition: 0.2s ease
}
#spectrum-logo{
    position: fixed;
    top: 1em;
    left: 1em;
    height: 4em;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
    transition: 0.2s;
    z-index: 10;
}
#spectrum-logo:hover{
    transform: scale(1.2)
}
#pccoe-logo-img:hover{
    transform: scale(1.2)
}
.spectrum-landing{
    transform: translateY(-1em);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    text-shadow: 6px 9px 20px #000000a6;
    align-self: start;
    color: white
}
.h-pccoe{
    font-family: 'Sarabun', sans-serif;
        font-size: 1.5em;
    align-self: end;
    justify-self: center;
}
.h-spectrum{
  font-family: 'Asap', sans-serif; 
    font-size: 6em;
    text-align: center;
}
.letter{
    display: inline-block;
    transition: 0.1s ease
}
.letter:hover{
    transform: scale(1.2);
}
.h-intro{
    font-family: 'Asap', sans-serif;
    font-size: 1.2em;
    text-align: center
}
.down-arrow{
    display: flex;
    justify-content: center;
   
}
.down-arrow img{
    height: 4.5em;
     transition: 0.2s ease;
     /* transform: rotate(180deg) */
}
.down-arrow img:hover{
        filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
        transform: scale(1.2);

}

/* landing over */

/*About Spectrum*/

.about-us{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    /* background-attachment: fixed; */
    background-image: url('../images/about-us-min.jpeg');
    background-position: cover;
   /* background-color: #4158D0;
  background-image: -webkit-linear-gradient(313deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-image: -o-linear-gradient(313deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    font-weight: 600
}

.about-us-head{
    font-size: 4.5em;
     font-family: 'Sarabun', sans-serif;
     align-self: center;
     justify-self: center;
  

}
.about-us-content{
    font-size: 2em;
    text-align: center;
    font-family: 'Sarabun', sans-serif;
     align-self: center;
     justify-self: center;  

}

/*About Spectrum Over*/

/*Events*/
.events{
    /* display: grid;
    grid-template-rows: 1fr 4fr; */
    background: #212121;
    /*background-image: url(../images/black-white-bg.jpg);
    background-attachment: fixed;
    background-position: cover;*/
 
    /* padding-left: 10vw */
}
.events-head{
    position: relative;
    top:0.2em;
    font-size: 4.5em;
    color: #FFE0B2;
    font-family: 'Asap', sans-serif;
    text-align: center;
    margin-bottom: 8vh;
    text-shadow: 6px 9px 20px #000000a6;
}
.swiper-container {
    justify-self: end;
      width: 80%;
      height: 75vh;
 
    }
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 20em;
    height: 70vh;
    border-radius: 1em    ;   
    }

.event-heading{
     font-family: 'Sarabun', sans-serif;
    font-size:2.5em;
    color: black;
    font-weight: 700;
    text-align: center ;
     text-shadow: 6px 9px 20px #00000061;
      transition: all 0.5s ease
}
.event-content{
    font-family: 'Sarabun', sans-serif;
    font-size:1.5em;
    font-weight: 700;
    text-align: center ;
    border-radius: 0.5em;
    transform: translateY(0.1em);
    background: linear-gradient(0deg,#d1e6d5,transparent);
    transition: all 0.5s ease
}
.event-heading:hover{
    transform:  scale(0.95)
}

.event-content > .button{
  cursor: context-menu;
}

.button{
       width: 5em;
       color: white;
    text-align: center;
    margin-top: 2vh;
    margin-left: 30%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,0,0,1) 0%, rgba(64,64,64,1) 90.2% );;
    height: 5.2vh
}
#brain-dasher {
      display: grid;
      grid-template-rows: 2fr 1fr;
       background: url('../images/brain-dasher.jpg');
       background-size: contain;      

}

#paper-persentation{
     display: grid;
      grid-template-rows: 2fr 1fr;
       background: url('../images/research-paper-presentation.png');
       background-position-x: 375px;
       background-size: cover; 
}
/* #paper-persentation .event-heading{
    color: white
}
#paper-persentation .event-content{
    color: white;  
    background: linear-gradient(0deg,#070707,transparent)
} */
#c-coder {
      display: grid;
      grid-template-rows: 2fr 1fr;
       background: url('../images/C-language.jpeg');
       background-size: cover; 
       background-position-x: -150px;      
   
}
#c-coder .event-heading{
    color: white
}
#c-coder .event-content{
    color: white
}
#catapult {
      display: grid;
      grid-template-rows: 2fr 1fr;
       background: url('../images/catapult.jpg');
       background-size: cover; 
       background-position-x: -62px;      
   
}
#catapult .event-heading{
    color: black
}
#catapult .event-content{
    color: black
}
#treasure {
      display: grid;
      grid-template-rows: 2fr 1fr;
       background: url('../images/treasure-hunt.jpg');
       background-size: cover; 
       background-position-x: -201px;      
   
}
#treasure .event-heading{
    color: black
}
#treasure .event-content{
    color: black
}
#short-movie {
      display: grid;
      grid-template-rows: 2fr 1fr;
       background: url('../images/movie\ making.jpg');
       background-size: cover; 
       background-position-x: 0px;      
   
}
#short-movie .event-heading{
    color: white
}
#short-movie .event-content{
    color: white
}
#model-making {
      display: grid;
      grid-template-rows: 2fr 1fr;
       background: url('../images/model-making.jpg');
       background-size: cover; 
       background-position-x: -201px;      
   
}
#model-making .event-heading{
    color: white
}
#model-making .event-content{
    color: black
}
#robo-soccer {
      display: grid;
      grid-template-rows: 2fr 1fr;
       background: url('../images/roboscorcer.jpg');
       background-size: cover; 
       background-position-x: -155px;      
   
}
#robo-soccer .event-heading{
    color: black
}
#robo-soccer .event-content{
    color: black
}
#electrica {
      display: grid;
      grid-template-rows: 2fr 1fr;
       background: url('../images/electrica.jpeg');
       background-size: cover; 
       background-position-x: -318px;      
   
}
#electrica .event-heading{
    color: white
}
#electrica .event-content{
    color: white;
   
    background: linear-gradient(0deg,#070707,transparent)
}
#aero-modelling {
      display: grid;
      grid-template-rows: 2fr 1fr;
       background: url('../images/aero-modelling.jpg');
       background-size: cover; 
       background-position-x: -189px;      
   
}
#aero-modelling .event-heading{
    color: black
}
#aero-modelling .event-content{
    color: black;
   
}

/* events over */

/* contact us */
.map{
    display: grid;
    grid-template-rows:1fr 3fr; 
    background: #e5e5e5
}
.map-h{
    position: relative;
    text-shadow: 6px 9px 20px #0000004a;
    font-size: 4em;
    font-family: 'Asap', sans-serif;
    text-align: center;
    top: 0.1em;
}
.map-div{
    display: flex;
    justify-content: center;
    
}
#google-map{
    transform: translateY(-10vh);
    width: 90%
}
/* more-links starts */


/* .animate-logo{
    top: 15% !important;
    left: 30% !important;
    transform: scale(2);
    transition: 1s !important;
}

.no-hover{
    pointer-events: none !important;
} */

.more-links-div{
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "mld1 mld2 mld3";
    background-color: #1d1e22;
    justify-items: center;
    align-items: center;
}

.mld1{
    height: 90vh;
    width: calc(100%/3);
    grid-area: mld1;
    border-right: 2px solid white;
}

.mld2{
    grid-area: mld2;
}

.mld3{
    grid-area: mld3;
}


footer{
    display: grid;
    height: 10vh;
    background-color: #1d1e22;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "ft1 ft2 ft3";
}

.ft1{
    grid-area: ft1;
}

.ft2{
    grid-area: ft2;
}

.ft3{
    grid-area: ft3;
    justify-self: center;
    align-self: center;
}

.ft3 > img{
    height: 8vh;
    width: auto;
}







/* media queries */
@media only screen and (max-width: 780px) {
    .landing{
         grid-template-columns: 1fr 10fr 1fr;
    }
    .dock{
        display: none;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        position: fixed;
        top: 30vh;
        height: 40vh;
        left: 0.5em;
        width: 10%;
        background: green;
    }
    .spectrum-landing{
        font-size: 0.52em
    }
    #pccoe-logo-img {
    height: 2.8em;
    position: relative;
    left: 1.5em;
    top: 1.5em;
    }
    #spectrum-logo{
        height: 3em;
    }
    .down-arrow img{
    height: 4.5em;
    }

    /* events */
    .events-head{
        margin-bottom: 12vh;
        padding-top: 2vh;
        font-size: 2.5em
    }

    /* about-us */

    .about-us{
        grid-template-columns: none;
        grid-template-rows: 0.5fr 2fr;
        font-size: 0.6em;     
    }
    .about-us-head{
        align-self: end
    }
    .about-us-content{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 2.1em
    }
    .map-h{
        font-size: 2em;
        top: 1.5em
    }
    .swiper-container{
        width: 100%;
    }
}