@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Acme');
*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;        -webkit-user-select: none;
    -moz-user-select: -moz-none;
     -ms-user-select: none;
         user-select: none;
         overflow-x: hidden;

}
.body{

    transition:all ease-in 5s; /* tweak to your liking */
}
a {
    all: unset;
    cursor: pointer;
    transition: ease 0.2s
}
a:hover{
    color: black;
    
}
.page{
    height: 100vh;
    color: white;
    background: url(../images/mtt-bg.jpeg);
    background-attachment: fixed;
    background-size: cover
    
    
}
.landing{
    display: grid;
    grid-template-columns: 0.6fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}
.logo {
    /* height: 4.2em;  */
    /* position: relative;
    left: 0.5em;
    top: 1em; */
    justify-self: center;
    align-items: center;
    transition: 0.2s ease
}
.logo img{
    height: 5em;
    padding-top: 1.5vh;
}
#spectrum-logo{
    /* position: relative;
    top: 1em;
    left: 3em; */
    height: 5em;
    padding-top: 2vh;

    transition: 0.2s;
    z-index: 10;
}
.home{
    font-size: 8vh;
    justify-self: center;
    align-self: center;
    transition: all 0.2s ease
}
.home:hover{
    font-size:9vh
}
.title-heading{
    display: inline-flex;
    font-size: 5.5vh;
    justify-self: start
}
.title-heading p{
    padding-top:1vh ;
    align-self: center
}
.meet-h{
    font-size: 6em;
    align-self: center;
    justify-self: center;
    font-family: 'Acme', sans-serif;
}
.patron{   
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr
}
.pat-h{
    font-size: 5em;
    padding-left:5%;
    padding-top: 2vh;
}
.l1{
    display: inline-flex;
    justify-self: center;
    /* padding-left: 2%;
    padding-right: 2%; */
    overflow: hidden;
}
.l2{
    justify-items: center;
    display: inline-flex
}
.pp{
    padding: 1em;
    font-size: 1.8em;
    margin-bottom: 2vh;
    transition: all 0.5s;
    overflow: hidden;

}
.head{
    font-size: 1.1em;
    text-align: center;
    font-weight: 800
}
.tail{
    text-align: center;
    font-size: 0.8em
}
.pp:hover{
    box-shadow: 1px 4px 20px #0000002e;
    background: #ffffffb8;
    color: black
}
.ac{   
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 0.7fr
}
.ac .l1 .pp{
    font-size: 1.4em;
    margin-bottom:14vh;
    padding: 0.8em
}
.ac .l1 .pp:hover{
    box-shadow: 1px 4px 20px #0000002e;
    background: #ffffffb8;
    color: black
}
.student{
    display: grid;
    grid-template-rows: 0.8fr 2fr 2fr;
}
.stu-title{
    font-size: 4em;
    padding-left: 5%
}
.nupur{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.nupur .stu-pic{
    justify-self: start;
    align-self: center
}
.stu-pic img{
    height: 10em;
    transition: ease 0.2s
}
/* .stu-pic img:hover {
    transform: translateY(-1vh) scale(1.05);
    filter:drop-shadow(1px 10px 5px black)
} */

.nupur .stu-info{
    justify-self: center;
    align-self: center;
    text-align: center
}
.name{
    font-size: 3em
}
.post{
    font-size: 1.9em
}
.ath{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.ath .stu-pic{
    justify-self: flex-end;
    align-self: center
}
.ath .stu-info{
    justify-self: center;
    align-self: center;
    text-align: center
}
.student-2{
    display: grid;
    grid-template-rows:  2fr 2fr;
}
.ph::before {font-family: FontAwesome; content: "\f10b";}

.creators {
    display: grid;
    grid-template-rows: 0.8fr 2fr 2fr;
}
.creators .head{
    
    font-size: 4.1em;
    text-align: left;
    font-weight: 800;
    margin-top: 5vh;
    margin-left: 6vw;
}

@media only screen and (max-width: 780px) and (min-width:300px)
{
    .landing{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 5fr 1fr;
    }
    #spectrum-logo{
  
        height: 8vh;
    
        transition: 0.2s;
        z-index: 10;
    }
    .title-heading{
        font-size: 3vh;
        justify-self: start;
        align-self: flex-start;
        padding-top: 2vh;
    }
    .title-heading p{
        padding-top:2vh 
    }
    .meet-h{
        font-size: 5em;
        align-self: center;
        justify-self: center;
        text-align: center;
        font-family: 'Acme', sans-serif;
        
    }
    .patron{   
        display: grid;
        grid-template-rows: 0.5fr 1.5fr 1.5fr 0.1fr
    }
    .pat-h{
        font-size: 3em;
        text-decoration: underline
    
    }
    .l1{
        display: block;
        justify-self: center;
        padding-left: 2%;
        padding-right: 2%;
        overflow: auto
      
    }
    .l2{
        justify-items: center;
        display: block
    }
    .pp{
        padding: 1em;
        font-size: 1.5em;
        margin-bottom: 3vh;
        transition: all 0.5s;
        overflow: auto
    
    }
    .ac{   
        display: grid;
        grid-template-rows: 0.5fr 1.5fr 1.5fr 0.7fr
    }
    .ac .pat-h{
        font-size: 2em;
        text-decoration: underline
    }
    .ac .l1 .pp{
        font-size: 1.4em;
        margin-bottom:3vh;
        padding: 0.8em
    }
    .student{
        display: grid;
        grid-template-rows: 0.5fr 2fr 2fr;
        
    }
    .stu-title{
        font-size: 2.5em;
        padding-left: 5%
    }
    .nupur{
        display: grid;
        grid-template-rows: 2fr 1.5fr;
        grid-template-columns: none;
        grid-template-areas: "a" "b" 
    }
    .nupur .stu-pic{
        justify-self: center;
        align-self: center;
        grid-area: a
    }
    .stu-pic img{
        height: 15vh
    }
    .nupur .stu-info{
        justify-self: center;
        align-self: flex-start
    }
    .name{
        font-size: 5vh
    }
    .post{
        font-size: 3vh
    }
    .ath{
        display: grid;
        grid-template-rows: 1.5fr 2fr;
        grid-template-columns: none
    }
    .ath .stu-pic{
        justify-self: center;
        align-self: flex-start
    }
    .ath .stu-info{
        justify-self: center;
        align-self: flex-start
    }
    .student-2{
        display: grid;
        grid-template-rows:  2fr 2fr;
}
.creators .head{
    
    font-size: 2em;
    text-align: left;
    font-weight: 800;
    margin-top: 5vh;
    margin-left: 6vw;
}
}